@import url('./styles/vars.less');
@import url('./styles/utils.less');
@import url('./styles/theme.less');

.row-dragging {
  border: 1px solid #ccc;
}

.row-dragging td {
  padding: 8px 28px;
}

.row-dragging .drag-visible {
  visibility: visible;
}

.app {
  .tools-wrapper {
    background-color: var(--vscode-editor-background) !important;
    height: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    &-div {
      position: absolute;
      top: 0;
    }
  }
}
